.sidebar-l {
  display: flex;
  flex-flow: wrap;

  >.sidebar {
    flex-basis: 20rem;
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    background-color: #eff;
    overflow: scroll;
    padding-right: 1rem;
    padding-bottom: 1rem;
    position: sticky;
    top: 0;
    height: 100vh;

    >.head {
      display: flex;
      gap: 1rem;
      align-items: center;
      justify-content: center;
    }
  }

  .notsidebar {
    flex-grow: 999;
    min-inline-size: 75%;
  }
}

@media (max-width: 1278px) {
  .sidebar-l {
    >.sidebar {
      max-height: 30vh;
      margin-bottom: 4rem;
    }
  }
}