package ui

type EventDetailsViewModel struct {
	Events []EventViewModel
	Time string
}

type EventViewModel struct {
	Color string
	Name string
}

templ EventDetails(m EventDetailsViewModel) {
	<div class="event-details" id="event-details">
		<span>{m.Time}</span>
		for _, m := range m.Events {
			<div class={"square", m.Color}></div>
			<p class="name">{m.Name}</p>
		}
	</div>
}

templ EventDetailsEmpty() {
	<div class="event-details" id="event-details">
	</div>
}
